/* Police personnalisée*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* Elements de la page */
body {
    font-family: "Raleway";
}

a {
    color: #000;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

section img {
    object-fit: cover;
}

/********** Header **********/
header {
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

/********** Header/menu de navigation **********/
nav ul {
    display: flex;
}

nav li {
    margin-right: 80px;
    font-size: 1.1em;
}

.navsubs {
    color: #0065FC;
    font-weight: bold;
    font-size: 1.1em;
}

/********** Header/ Animations du menu de navigation **********/
.navacte:hover, .navhbgt:hover {
    border-top: 3px solid #0065FC;
    padding-top: 25px;
}

/********** Section 1: titre et barre de recherche **********/

/********** Éléments de la section **********/

.searchbarsection {
    margin: auto;
    width: 85%;
}

/********** Barre de recherche **********/
.fa-map-marker-alt {
    padding: 10.5px;
    background-color: #EAEAEA;
    border-radius: 8px 0 0 8px;
}

input {
    padding: 10px;
    border: 1px solid #EAEAEA;
    margin-right: -4px;
}

::placeholder {
    color:black;
    font-family: "Raleway";
    font-weight: bold;
}

.bouton_search, .btnsearch_mobile {
    color: #FFFFFF;
    font-weight: bold;
    padding: 9px 13px 8px 13px;
    border-radius: 0 8px 8px 0;
    background-color: #3498DB;
    border-bottom: 2px solid #0065FC;
    text-shadow: 0px -2px #0065FC;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.bouton_search:active, .btnsearch_mobile:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
 
/********** Section 2: Filtres **********/

/********** Éléments de la section **********/

.filterscategory {
    margin: auto;
    width: 85%;
}

/********** Boutons filtres **********/

.filterscategorytitle {
    padding-top: 10px;
}

.filterscategory {
    width: 85%;
    display: flex;
    margin-top: 15px;
}

.filterscategory a {
    font-weight: bold;
    font-size: 0.9em;
}

.filterscategory ul {
    display: flex;
}

.filterscategory li {
    list-style-type: none;
    margin-left: 30px;
}

.filters {
    display: flex;
    align-items: center;
    border: 2px solid #EAEAEA;
    border-radius: 50px;
}

.filters p {
    padding: 0 15px 0 10px;
    font-size: 1em;
}

.iconfilters {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 15px;
    margin-right: 7px;
    margin-left: -5px;
    border-radius: 50px;
}

.fa-child {
    padding: 15px 17px 15px 17px;
}

/********** Section 3: info nombres logements **********/

/********** Éléments de la section **********/
.infoaccomodations {
    display: flex;
    margin: auto;
    width: 85%;
    margin-top: 15px;
}

.fa-info {  
    margin-top: 10px;
    margin-right: 10px;
    color: #0065FC;
    padding: 5px 10px 5px 10px;
    border: 1.5px solid #EAEAEA;
    border-radius: 30px;
}

/********** Animation des boutons filtres **********/
.filters:hover i {
    color: #FFFFFF;
}

.filters:hover .iconfilters {
    background-color:#0065FC;
}

.filters:hover {
    background-color: #DEEBFF;
}

.filters:hover p {
    color: #0065FC;
}

/********** Main regroupant section hébergements + aside **********/
main {
    width: 85%;
    display: flex;
    margin: auto;
}
/********** Section 4: hébergements gauche **********/
.accomodationsection {
    max-width: 900px;
    background-color: #F1f1f1;
    border-radius: 20px;
    padding-right: 30px;
}

.accomodationcardsgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;*
}

.accomodationsection_title {
    margin: 20px 0 20px 30px;
    font-size: 1.4em;
}

/********** Customisation des cartes **********/
.accomodationcardsgroup article {   
    min-width: 200px;
    max-width: 250px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 3px;
    margin-bottom: 60px;
    margin-left: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.accomodationcardsgroup article img {
    height: 110px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

/********** Mise en forme valables sur la section hébergement + aside **********/

.info_cards p {
    margin-top: -15px;
}

article h4 {
    margin-top: 3px;
    margin-left: 10px;
}

article p {
    padding-left: 10px;
    font-size: 0.9em;
}

.price {
    font-weight: bold;
}

.star {
    font-size: 0.8em;
    padding-left: 10px;
    margin-top: -10px;
}

.fa-star {
    color: #0065FC;
}

.grey {
    color: #E3E3E3;
}

.displaymore
{
    margin-left: 30px;
}

/********** Section 5 hébergements les plus populaires (aside) **********/

aside {
    background-color: #F1f1f1;
    border-radius: 20px;
    margin-left: 40px;
}

.asidecards_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    font-size: 1em;
}

.fa-lg {
    margin-right: 25px;
}

.asidecards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/********** Customisation des cartes **********/
.asidecardsarticle {
    display: flex;
    height: 140px;
    width: 80%;
    border-radius: 15px;
    padding: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}

.asidecards img {
    border-radius: 15px 0 0 15px;
    width: 40%;
    object-fit: cover;
}

.asidecards_title {
    margin-top: 5px;
}

.asidecards_title p {
    margin-top: -10px;
}

.asidestar {
    margin-top: 40px;
}

.asidestardown {
    margin-top: 50px;
}

/********** Section 6 activités **********/
.activitycardsgroup {
    display: flex; 
    margin: auto;
    width: 85%;
}

/********** Cuztomisation des cartes **********/
.activitycards {
    width: 100%;
    max-width: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 0 40px 50px 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.activitycards img {
    width: 100%;
    max-width: 330px;
    border-radius: 20px 20px 0 0;
}

.activitysection_title {
    font-size: 1.4em;
    margin: 40px 0 20px 140px;
}

.titlecardsact {
    margin-top: 7px;
    margin-left: 20px;
}

.vieux_port {
    height: 500px;
    width: 320px;
}

.vieux_port img {
    height: 460px;
}

.pomegues {
    height: 250px;
}

.pomegues img {
    height: 210px;
}

.frioult {
    height: 200px;
}

.frioult img {
    height: 160px;
}

.calanques {
    height: 500px;
    width: 320px;
    margin-left: 40px;
}

.calanques img {
    height: 460px;
}

.notredame {    
    height: 225px;
}

.notredame img {
    height: 185px;
}

.longchamp {
    height: 225px;
}

.longchamp img {
    height: 185px;
}


/********** Animation des boutons filtres **********/
.accomodationsection article:hover, .asidecards article:hover, .activitysection article:hover {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.6);
}

.displaymore:hover {
    text-decoration: underline;
}

/* Footer */

footer {
    width: 100%;
    display: flex;
    background-color: #F1f1f1;
}

footer li {
    display: flex;
    margin-left: 60px;
    margin-right: 130px;
    padding: 5px;
}

/* Animations mentions légales et informations */

footer a:hover {
    text-decoration: underline;
}
