/* Police personnalisée*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* Elements de la page */
body {
    font-family: "Raleway";
}

a {
    color: #000;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

section img {
    object-fit: cover;
}

/********** Header **********/
header {
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

/********** Header/menu de navigation **********/
nav ul {
    display: flex;
}

nav li {
    margin-right: 80px;
    font-size: 1em;
}

.navsubs {
    color: #0065FC;
    font-weight: bold;
    font-size: 1em;
}

/********** Header/ Animations du menu de navigation **********/
.navacte:hover, .navhbgt:hover {
    border-top: 3px solid #0065FC;
    padding-top: 42px;
}

/********** Section 1: titre et barre de recherche **********/

/********** Éléments de la section **********/

.searchbarsection {
    margin: auto;
    width: 85%;
}

/********** Barre de recherche **********/
.fa-map-marker-alt {
    padding: 11px;
    background-color: #EAEAEA;
    border-radius: 8px 0 0 8px;
}

input {
    padding: 11px 0 10.5px 10px;
    border: 1px solid #EAEAEA;
    margin-right: -4px;
}

::placeholder {
    color:black;
    font-family: "Raleway";
    font-weight: bold;
}

.bouton_search, .btnsearch_mobile {
    color: #FFFFFF;
    font-weight: bold;
    padding: 9px 11px 8px 13px;
    border-radius: 0 8px 8px 0;
    background-color: #0065fc;
    border-bottom: 2px solid #0362f0;
    text-shadow: 0px -2px #0362f0;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.bouton_search:active, .btnsearch_mobile:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
 
/********** Section 2: Filtres **********/

/********** Éléments de la section **********/

.filterscategory {
    margin: auto;
    width: 85%;
}

/********** Boutons filtres **********/

.filterscategorytitle {
    padding-top: 10px;
}

.filterscategory {
    width: 85%;
    display: flex;
    margin-top: 15px;
}

.filterscategory a {
    font-weight: bold;
    font-size: 0.9em;
}

.filterscategory ul {
    display: flex;
}

.filterscategory li {
    list-style-type: none;
    margin-left: 30px;
}

.filters {
    display: flex;
    align-items: center;
    border: 2px solid #EAEAEA;
    border-radius: 50px;
}

.filters p {
    padding: 0 15px 0 10px;
    font-size: 1em;
}

.iconfilters {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 15px;
    margin-right: 7px;
    margin-left: -5px;
    border-radius: 50px;
}

.fa-child {
    padding: 15px 17px 15px 17px;
}

/********** Info nombres logements **********/

.infoaccomodations {
    display: flex;
    margin: auto;
    width: 85%;
    margin-top: 15px;
}

.fa-info {  
    margin-top: 10px;
    margin-right: 10px;
    color: #0065FC;
    padding: 5px 10px 5px 10px;
    border: 1.5px solid #EAEAEA;
    border-radius: 30px;
}

/********** Animation des boutons filtres **********/
.filters:hover i {
    color: #FFFFFF;
}

.filters:hover .iconfilters {
    background-color:#0065FC;
}

.filters:hover {
    background-color: #DEEBFF;
}

.filters:hover p {
    color: #0065FC;
}

/********** Main regroupant section hébergements + aside **********/
main {
    width: 85%;
    display: flex;
    margin: auto;
}
/********** Section 3: hébergements gauche **********/
.accomodationsection {
    max-width: 900px;
    background-color: #F1f1f1;
    border-radius: 20px;
    padding-right: 30px;
}

.accomodationcardsgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;*
}

.accomodationsection_title {
    margin: 20px 0 20px 30px;
    font-size: 1.4em;
}

/********** Customisation des cartes **********/
.accomodationcardsgroup article {   
    min-width: 200px;
    max-width: 250px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 3px;
    margin-bottom: 60px;
    margin-left: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.accomodationcardsgroup article img {
    height: 110px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

/********** Mise en forme valables sur la section hébergement + aside **********/

.info_cards p {
    margin-top: -15px;
}

article h4 {
    margin-top: 3px;
    margin-left: 10px;
}

article p {
    padding-left: 10px;
    font-size: 0.9em;
}

.price {
    font-weight: bold;
}

.star {
    font-size: 0.8em;
    padding-left: 10px;
    margin-top: -10px;
}

.fa-star {
    color: #0065FC;
}

.grey {
    color: #E3E3E3;
}

.displaymore
{
    margin-left: 30px;
}

/********** Aside / hébergements les plus populaires **********/

aside {
    background-color: #F1f1f1;
    border-radius: 20px;
    margin-left: 40px;
}

.asidecards_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    font-size: 1em;
}

.fa-lg {
    margin-right: 25px;
}

.asidecards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/********** Customisation des cartes **********/
.asidecardsarticle {
    display: flex;
    height: 140px;
    width: 80%;
    border-radius: 15px;
    padding: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}

.asidecards img {
    border-radius: 15px 0 0 15px;
    width: 40%;
    object-fit: cover;
}

.asidecards_title {
    margin-top: 5px;
}

.asidecards_title p {
    margin-top: -10px;
}

.asidestar {
    margin-top: 40px;
}

.asidestardown {
    margin-top: 50px;
}

/********** Section 4 activités **********/
.activitycardsgroup {
    display: flex; 
    margin: auto;
    width: 85%;
}

/********** Cuztomisation des cartes **********/
.activitycards {
    width: 100%;
    max-width: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 0 40px 50px 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.activitycards img {
    width: 100%;
    max-width: 330px;
    border-radius: 20px 20px 0 0;
}

.activitysection_title {
    font-size: 1.4em;
    margin: 40px 0 20px 140px;
}

.titlecardsact {
    margin-top: 7px;
    margin-left: 20px;
}

.vieux_port {
    height: 500px;
    width: 320px;
}

.vieux_port img {
    height: 460px;
}

.pomegues {
    height: 250px;
}

.pomegues img {
    height: 210px;
}

.frioult {
    height: 200px;
}

.frioult img {
    height: 160px;
}

.calanques {
    height: 500px;
    width: 320px;
    margin-left: 40px;
}

.calanques img {
    height: 460px;
}

.notredame {    
    height: 225px;
}

.notredame img {
    height: 185px;
}

.longchamp {
    height: 225px;
}

.longchamp img {
    height: 185px;
}


/********** Animation des boutons filtres **********/
.accomodationsection article:hover, .asidecards article:hover, .activitysection article:hover {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.6);
}

.displaymore:hover {
    text-decoration: underline;
}

/* Footer */

footer {
    width: 100%;
    display: flex;
    background-color: #F1f1f1;
}

footer li {
    display: flex;
    margin-left: 60px;
    margin-right: 130px;
    padding: 5px;
}

/* Animations mentions légales et informations */

footer a:hover {
    text-decoration: underline;
}

/******************** Reponsive Media Queries ********************/
/* Références
- Petits et moyens écrans mobiles (max-width 767px)
- Grands écrans mobiles (min-width: 768px) and (max-width: 1023px)
- Grands écrans tablettes et écran PC (min-width: 1024px) and (max-width: 1339px)
- Grands écrans (min-width: 1440px and max-width: 2559px) 
- Très grands écrans (min-width 2560px) */
/******************** Reponsive Media Queries ********************/


/* Très grands écrans (min-width 2560px) */
@media screen and (min-width: 2560px)

{
    body {
        font-size: 1.3em;
        overflow-x: hidden;
    }

    /* Header */
    header nav li {
        font-size: 1.35em;
    }

    header img {
        width: 9%;
    }

    .navsubs {
        font-size: 1.35em;
    }

    /* Section Filtres + boutons de recherche */
    .searchbarsection h1 {
        font-size: 1.6em;
    }

    .fa-map-marker-alt {
        padding: 14px;
    }

    input {
        padding: 15px;
        width: 13%;
        border: 2px solid #EAEAEA;
    }

    ::placeholder {
        font-size: 1.5em;
    }

    .bouton_search {
        padding: 10px 15px 12px 15px;
    }

    .btnsearch_mobile {
        display: none;
    }

    .searchbarsection h1 {
        font-size: 1.8em;
    }

    .searchbarsection p {
        font-size: 1.5em;
    }

    .filters p {
        font-size: 1.2em;
    }

    /* Section hébergement + aside */
    section {
        width: 100%;
    }

    .accomodationsection {
        min-width: 1300px;
    }

    .accomodationcardsgroup {
        width: 1300px;
    }

    .accomodationcardsgroup article {
        min-width: 400px;
        height: 250px;
    }

    .accomodationcardsgroup article img {
        height: 150px;
    }

    aside {
        margin-left: 100px;
    }

    .asidecardsarticle {
        height: 170px;
    }

    /* Section activité */
    .activitycards {
        width: 100%;
        max-width: 500px;
    }
    
    .activitycards img {
        width: 100%;
        max-width: 500px;
    }
    
    .activitysection_title {
        font-size: 1.4em;
        margin: 40px 0 20px 200px;
    }
        
    .vieux_port {
        height: 800px;
        width: 500px;
    }
    
    .vieux_port img {
        height: 740px;
        width: 500px;
    }
    
    .pomegues {
        height: 400px;
        width: 500px;
        margin-left: 10px;
    }
    
    .pomegues img {
        height: 360px;
        width: 500px;
    }
    
    .frioult {
        height: 350px;
        width: 500px;
        margin-left: 10px;
    }
    
    .frioult img {
        height: 300px;
        width: 500px;
    }
    
    .calanques {
        height: 800px;
        width: 500px;
        margin-left: 10px;
    }
    
    .calanques img {
        height: 740px;
        width: 500px;
    }
    
    .notredame {    
        height: 375px;
        width: 500px;
        margin-left: 20px;
    }
    
    .notredame img {
        height: 325px;
        width: 500px;
    }
    
    .longchamp {
        height: 375px;
        width: 500px;
        margin-left: 20px;
    }
    
    .longchamp img {
        height: 325px;
        width: 500px;
    }
}



/* Grands écrans (min-width: 1440px and max-width: 2559px) */
@media screen and (min-width: 1440px) and (max-width: 2559px)
{
    .btnsearch_mobile {
        display: none;
    }
}


/* Grand écran tablettes et écran PC (min-width: 1024px) and (max-width: 1339px) */
@media screen and (min-width: 1024px) and (max-width: 1339px)
{
    main {
        width: 100%;
        margin-left: 50px;
    }

    .filters p {
        padding: 0 10px 0 0;
    }

    aside {
        width: 100%;
    }

    .btnsearch_mobile {
        display: none;
    }

    .activitysection_title {
        margin-left: 60px;
    }

    .activitysection {
        margin-left: 80px;
    }

    .activitycardsgroup {
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .calanques {
        margin-left: 0px;
    }

    footer li {
        margin-left: 20px;
        margin-right: 80px;
    }
}



/* Grands écrans mobiles et tablettes (min-width: 768px) and (max-width: 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px)
{
    body
    {
        font-size: 0.9em;
    }   

    /* Section barre de recherche */
    .searchbarsection {
        font-size: 0.8em;
    }

    .btnsearch_mobile {
        display: none;
    }

    /* Section filtres */
    .filterscategory {
        margin-left: 60px;
    }

    .filterscategory ul {
        flex-wrap: wrap;
    }

    .filters {
        margin-bottom: 10px;
    }

    /* Main */
    main {
        width: 100%;
        flex-flow: column-reverse wrap;
        margin-left: 0;
        
    }

    /* Hébergements */
    .accomodationcardsgroup article {
        margin-bottom: 30px;
    }

    /* Aside */ 
    aside {
        width: 100%;
        margin-left: 0;
    }

    .asidecards {
        width: 45%;
    }

    .asidecards article {
        height: 140px;
        min-width: 280px;
        margin: 0 20px 10px 0;
    }
        
    .asidegroupcards {
        border-radius: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
  
    .asidecards_title {
        margin: 10px;
        font-size: 0.9em;
    }
  
    .fa-lg {
        margin-right: 10px;
        font-size: 0.9em;
    }
  
    /* Activité */
    .activitysection_title {
        margin-left: 10px;
    }

    .activitysection {
        justify-content: center;
    }

    .activitycardsgroup {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .calanques {
        margin-left: 0px;
    }

    /* footer */
    footer {
        width: 100%;
        margin: 0;
    }

    footer li {
        margin: 0;
        }

    }



/* Petits et moyens écrans mobiles (max-width 767px) */
@media screen and (max-width: 767px) {   

    body {
        width: 100%;
        margin: 0;
        overflow-x: hidden;
    }
  
    /* Header */
    header {
        width: 98%;
        flex-direction: column;
        align-items: flex-start;
    }

    header img {
        width: 30%;
        margin-left: 10px;
    }
    
    nav ul {
        padding: 0;
        margin: 10px -5px;
        border-bottom: 2px solid #F2F2F2;
    }

    nav li {
        padding: 10px 30px 10px 25px;
        font-size: 0.9em;
        margin: 10px;
    }
    
    .navsubs {
        position: absolute;
        top: 40px;
        right: 35px;
        font-size: 0.9em;
        font-weight: bold;
    }
    
    /* Header/ Animations du menu de navigation */
    .navhbgt:hover, .navacte:hover {
        border-top: none;
        border-bottom: 1px solid #0065FC;
    }
  
    nav li:hover {
        border-bottom: solid 2px #0065FC;
    }
  
    /* Section barre de recherche */
    .searchbarsection {
        width: 98%;
    }

    .searchbarsection h1 {
        font-size: 1.2em;
        padding: 3px 10px 0 10px;
        }
  
    .searchbarsection p {
        font-size: 0.9em;
        padding: 3px 10px 0 10px;
    }

    .searchbar {
        padding: 3px 10px 0 10px;
    }

    input {
        width: 70%;
    }
  
    .bouton_search {
        display: none;
    }
  
    .btnsearch_mobile {
        padding: 8px 12px 8px 12px;
        border-radius: 8px;
    }
  
    /* Boutons filtres */
    .filterscategory {
        width: 98%;
        flex-direction: column;
    }
  
    .filterscategory ul {
        flex-wrap: wrap;
        padding-left: 10px;
    }
  
    .filterscategory li {
        margin: 10px 15px 10px 0; 
        padding: -10px 0 -10px 0;
    }
  
    .filterscategory h3 {
        padding: 10px;
        margin: 0 0 -10px 0;
    }
  
    .filters {
        padding: -10px;
    }
  
    /* Section info logements */
    .fa-info {
        margin-left: -20px; }
  
    .infoaccomodations p
    {
        font-size: 0.9em;
    }
  
    /* Main hébergements + aside */
    .mainsection {
        width: 100%;
        flex-direction: column-reverse;
        font-size: 0.9em;
    }
  
    /* Section hébergements */
    .accomodationsection_title {
        font-size: 1.2em;
        margin: 20px 0px 20px 10px;
    }
  
    .accomodationsection {
        background-color: #FFFFFF;
        width: 95%;
    }
  
    /* Adaptation des cartes */
    .accomodationcardsgroup article {   
        margin: 0 0 30px 15px;
        min-width: 300px;
        height: 220px;
    }

    .accomodationcardsgroup article img {
        height: 160px;
    }
  
    /* Aside / les plus populaires */
    aside {
        width: 100%;
        margin: 0;
        padding: 5px;
        border-radius: 0;
    }
  
    .titleaside {
        margin: 10px;
        font-size: 0.9em;
    }
  
    .fa-lg {
        margin-right: 10px;
        font-size: 0.9em;
    }
  
    .asidecards article {
        height: 140px;
        min-width: 280px;
        margin-bottom: 10px;
    }

    .displaymore {
        margin-top: 0px;
    }
  
    /* Section activités */
    .activitysection_title {
        font-size: 1.2em;
        margin: 20px 0px 20px 10px;
    }
  
    .activitycardsgroup {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .vieux_port, .pomegues, .frioult, .calanques, .notredame, .longchamp {
        width: 100%;
        height: 220px;
        margin: 10px 0px 20px 0px;
    }
  
    .vieux_port img, .pomegues img, .frioult img, .calanques img,.longchamp img {
        height: 180px;
    }

    .calanques
    {
        margin-left: 0px;
    }
  
    /* Footer */
    footer
    {   width: 93%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
  
    footer li
    {
        margin: 0 30px 0 -40px;
    }
  }
